@using DevInstance.BlazorToolkit.Services
<button @onclick="TriggerError">Trigger Error</button>

@if (Host == null)
{
    <p>Cascading parameter is NULL</p>
}
else
{
    <p>Cascading parameter received successfully</p>
}


@code {
    [CascadingParameter]
    public IServiceExecutionHost? Host { get; set; }

    private void TriggerError()
    {
        Host.ErrorMessage = "An error occurred in the child component.";
        Host.IsError = true;
        Host.StateHasChanged();
    }
}
