@page "/"
@using DevInstance.BlazorToolkit.Components
@using DevInstance.BlazorToolkit.Model
@using DevInstance.BlazorToolkit.Services
@using DevInstance.EmployeeList.Client.Services
@using DevInstance.EmployeeList.Model

@layout BlazorToolkitPageLayout
<PageTitle>Home</PageTitle>

Welcome to your new app.

<ul>
@if (employees != null)
{
    @foreach (var employee in employees.Items)
    {
            <li>@employee.Name</li>
    }
}
</ul>

<button @onclick="TriggerError">Trigger Error</button>

@code {

    [Inject]
    EmployeeService Service { get; set; }

    [CascadingParameter]
    public IServiceExecutionHost? Host { get; set; }

    private ModelList<EmployeeItem> employees = null;

    protected override async Task OnInitializedAsync()
    {
        await Host.ServiceCallAsync(() => Service.GetItemsAsync(null, null, null), (e) => employees = e);
    }

    private void TriggerError()
    {
        Host.ErrorMessage = "An error occurred in the child component.";
        Host.IsError = true;
        Host.StateHasChanged();
    }
}